<ul class="sidebar-nav list-group" >
  {% if user.is_authenticated %}
    <li class="list-group-item"><a href="{% url 'restaurant:cook-detail' pk=user.id %}">{{ user.username }}</a> </li>
    <li class="list-group-item"><a href="{% url 'logout' %}">Logout</a> </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a> </li>
  {% endif %}

  <br>
    <li class="list-group-item"><a href="{% url "restaurant:index" %}">Home🏡</a></li>
    <li class="list-group-item"><a href="{% url  "restaurant:cook-list"%}">All Cooks👨‍🦳</a></li>
    <li class="list-group-item"><a href="{% url "restaurant:dish-list" %}">All Dishes🍽</a></li>
    <li class="list-group-item"><a href="{% url "restaurant:dish-type-list" %}">All Dish Types🍕</a></li>
</ul>
