{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dish Type List
  <a href="{% url 'restaurant:dish-type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  {% if  Dish_type_list %}
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for type in Dish_type_list %}
        <tr>
          <td>
              {{ type.id }}
          </td>
          <td>
              {{ type.name }}
          </td>
          <td>
              <a href="{% url 'restaurant:dish-type-update' pk=type.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'restaurant:dish-type-delete' pk=type.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>There are no added dish types!</p>
  {% endif %}
{% endblock %}